* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.player-score > h1,
.computer-score > h1 {
    font-size: 36px;
    color: #867070;
    font-weight: bold;
}

.player-score > h3,
.computer-score > h3 {
    color: #867070;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.container {
    background-color: #F5EBEB;
    padding: 50px;
    gap: 50px;
    display: flex;
    border-radius: 10px;
    border: #867070 solid 4px;
    box-shadow: 15px 10px 54px -20px #BFBFBF;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    color: #423c3c;
    font-weight: bold;
    background-color: #D5B4B4;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 1s;
}

.selected {
    border: solid 2px #867070;
    transform: scale(1.03);
}

.divider {
    background-color: #867070;
    height: stretch;
    width: 10px;
}

button {
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    background-color: #867070;
    color: #F5EBEB; 
    border-radius: 5px;
}

.win {
    background-color: #d8e2dc;
}

.lose {
    background-color: #ffcad4;
}

.tie {
    background-color: #fcf6bd;
}

#next-round {
    background-color: #F5EBEB;
    color: #867070;
}

button:active {
    transform: scale(1.04);
}